/*This File has CSS for header, footer, navbar, footer */
.header {
    background-color: teal;
    padding: 10px;
}

.header::after{
    content: "";
    display: table;
    clear: both;
}

.header h1{
    color: black ;
    text-align: left;
    float: left;
    margin-left: 3%;
    font-family: 'PT Sans', sans-serif;
    width: 20%;
}

.header img{
    float: left;
    width: 7%;
    height: 80px;
    margin-left: 5%;
}
.searchbar{
    border: 3px #B2AFAC solid;
    border-radius: 20px;
    float: left;
    margin: 15px;
    width: 60%;
}

.searchbar::after{
    content: "";
    display: table;
    clear: both;
}

.searchbar input{
    float: left;
    width: 95%;
    border: 2px;
    outline: none;
    font-size: 30px;
    padding: 10px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.searchbar input::placeholder{
    text-align: center;
    font-size: 18px;
    padding: 5px;
}
.searchbar button{
    float: left;
    width: 5%;
    height:54px;
    background-color: white;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    
}
.searchbar button img{
    width: 100%;
    height:50px;
}


.topnav{
    background-color: #FFCE2B;
    margin-bottom: 5px;
}

.topnav::after{
    content: "";
    display: table;
    clear: both;
}

.topnav a{
    float: left;
    width: 20%;
    color: #302f2e;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
.topnav a:hover{
    color: deeppink;
}

.footer{
    background-color: teal;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
}

.mid-footer{
    background-color: teal;
    border-bottom: 2px bisque solid;
}

.mid-footer::after{
    content: "";
    display: table;
    clear: both;
}
.part1{
    float: left;
    width: 13.9%;
}
.part1 h4{
    color: #302f2e;
    font-family: 'PT Sans', sans-serif;
}

.part1 a{
    font-family: 'Baloo Tamma 2', cursive;
    text-decoration: none;
    color: black;
}

.part2{
    float: left;
    width: 20%;
    padding-left: 2%;
}
.part2 h4{
    color: #302f2e;
    font-family: 'PT Sans', sans-serif;
}

.part2 p{
    font-family: 'Baloo Tamma 2', cursive;
}

.part3{
    float: left;
    width: 17%;
}
.part3 h4{
    color: #302f2e;
    font-family: 'PT Sans', sans-serif;
}

.part3 p{
    font-family: 'Baloo Tamma 2', cursive;
}

.last-footer{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}